# **01. Heartattack Data**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/2021_TNT Winter/3주차')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
heart_train=pd.read_csv('heart attack train.csv')
heart_test=pd.read_csv('heart attack test.csv')

In [ ]:
heart_train.shape

(242, 15)

In [ ]:
heart_train.head()

   Unnamed: 0  age  sex  cp  trestbps  ...  oldpeak  slope  ca  thal  target
0          62   52    1   3       118  ...      0.0      1   0     1       1
1         127   67    0   2       152  ...      0.0      2   1     2       1
2         111   57    1   2       150  ...      0.2      2   1     3       1
3         287   57    1   1       154  ...      0.0      2   1     2       0
4         108   50    0   1       120  ...      1.1      2   0     2       1

[5 rows x 15 columns]

In [ ]:
heart_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  242 non-null    int64
 1   age         242 non-null    int64
 2   sex         242 non-null    int64
 3   cp          242 non-null    int64
 4   trestbps    242 non-null    int64
 5   chol        242 non-null    int64
 6   fbs         242 non-null    int64
 7   restecg     242 non-null    int64
 8   thalach     242 non-null    int64
 9   exang       242 non-null    int64
 10  oldpeak     242 non-null    float64
 11  slope       242 non-null    int64
 12  ca          242 non-null    int64
 13  thal        242 non-null    int64
 14  target      242 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 28.5 KB

**01-1. 주어진 데이터를 이용하여 heart attack 가능성을 예측하는 모델을 만들 것입니다. target을 예측하는 최적의 모델을 만드시오.**

In [ ]:
xtrain_features = heart_train[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
ytrain_target = heart_train['target']

xtest_features= heart_test[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
ytest_target=heart_test['target']

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

train_features = scaler.fit_transform(xtrain_features)
test_features = scaler.transform(xtest_features)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(train_features, ytrain_target)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
print(model.score(train_features, ytrain_target))

0.8677685950413223

In [ ]:
prediction=print(model.score(test_features, ytest_target))

0.7377049180327869

In [ ]:
from sklearn.metrics import classification_report
y_pred=model.predict(xtest_features)
print(classification_report(ytest_target, y_pred))

              precision    recall  f1-score   support

           0       0.54      0.93      0.68        30
           1       0.78      0.23      0.35        31

    accuracy                           0.57        61
   macro avg       0.66      0.58      0.52        61
weighted avg       0.66      0.57      0.51        61

**01-2. 1)에서 만든 모델을 이용하여 target과 각각의 변수간의 관계를 설명하세요.**

In [ ]:
import statsmodels.api as sm
logit = sm.Logit(ytrain_target,xtrain_features) #로지스틱 회귀분석 시행
result = logit.fit()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Optimization terminated successfully.
         Current function value: 0.317551
         Iterations 8

In [ ]:
result.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.538
Dependent Variable: target           AIC:              179.6948
Date:               2021-01-16 10:50 BIC:              225.0510
No. Observations:   242              Log-Likelihood:   -76.847
Df Model:           12               LL-Null:          -166.34
Df Residuals:       229              LLR p-value:      6.8765e-32
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
------------------------------------------------------------------
               Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
------------------------------------------------------------------
age           -0.0015    0.0233  -0.0636  0.9493  -0.0473   0.0443
sex           -2.4788    0.5967  -4.1546  0.0000  -3.6483  -1.3094
cp             1.1362    0.2334   4.8670  0.0000   0.6786   1.5937
trestbps      -0.0231    0.0119  -1.9430  0.0520  -0.0465   0.0002
chol          -0.0041    0.0046  -0.8897  0.3737  -0.0132   0.0049
fbs            0.2657    0.6304   0.4214  0.6735  -0.9699   1.5013
restecg        0.8195    0.4163   1.9684  0.0490   0.0035   1.6354
thalach        0.0421    0.0109   3.8755  0.0001   0.0208   0.0635
exang         -1.1088    0.4878  -2.2729  0.0230  -2.0649  -0.1527
oldpeak       -0.6761    0.2583  -2.6175  0.0089  -1.1824  -0.1698
slope          0.3035    0.4295   0.7066  0.4798  -0.5384   1.1454
ca            -0.6900    0.2234  -3.0893  0.0020  -1.1278  -0.2522
thal          -0.3306    0.3430  -0.9639  0.3351  -1.0030   0.3417
=================================================================

"""

In [ ]:
np.exp(result.params)

age         0.998516
sex         0.083840
cp          3.114787
trestbps    0.977120
chol        0.995902
fbs         1.304295
restecg     2.269304
thalach     1.043047
exang       0.329961
oldpeak     0.508597
slope       1.354619
ca          0.501556
thal        0.718459
dtype: float64

오즈비가 1을 기준으로 큰지 작은지를 파악하여 종속 변수에 미치는 영향의 방향을 파악할 수 있다. 아무런 관계가 없을 때 오즈비는 1이다. 즉, 1에서 멀리 떨어질 수록 종속변수와의 관계가 강하다는 뜻인데 오즈비가 10인 경우와 0.1인 경우는 종속변수에 영향을 주는 강도가 같다.

영향을 많이 주는 변수에는 cp와, sex, restecg가 있다. 
영향을 거의 안미치는 변수는 thalach, chol, age 등이다.

**01-3. 1)에서 만든 모델의 test misclassifiaction rate를 구하세요.**

In [ ]:
print(1-model.score(test_features, ytest_target))

0.2622950819672131

# **02. Satisfaction Data**

**02-1. 주어진 데이터를 이용하여 satisfaction을 예측하는 모델을 만들 것입니다. satisfaction을 예측하는 최적의 모델을 만드세요.**

In [ ]:
satisfaction_train=pd.read_csv('satisfaction_train.csv')
satisfaction_test=pd.read_csv('satisfaction_test.csv')

In [ ]:
satisfaction_train.head()

   Unnamed: 0  Gender  ... Arrival Delay in Minutes  satisfaction
0      105527  Female  ...                     65.0     satisfied
1       82617  Female  ...                     37.0  dissatisfied
2       34069  Female  ...                      0.0     satisfied
3       18636    Male  ...                    567.0  dissatisfied
4       28693  Female  ...                     72.0     satisfied

[5 rows x 24 columns]

In [ ]:
satisfaction_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51794 entries, 0 to 51793
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         51794 non-null  int64
 1   Gender                             51794 non-null  object
 2   Customer Type                      51794 non-null  object
 3   Age                                51794 non-null  int64
 4   Type of Travel                     51794 non-null  object
 5   Class                              51794 non-null  object
 6   Flight Distance                    51794 non-null  int64
 7   Seat comfort                       51794 non-null  int64
 8   Departure/Arrival time convenient  51794 non-null  int64
 9   Food and drink                     51794 non-null  int64
 10  Gate location                      51794 non-null  int64
 11  Inflight wifi service              51794 non-null  int64
 12  Inflight entertainment             51794 non-null  int64
 13  Online support                     51794 non-null  int64
 14  Ease of Online booking             51794 non-null  int64
 15  On-board service                   51794 non-null  int64
 16  Leg room service                   51794 non-null  int64
 17  Baggage handling                   51794 non-null  int64
 18  Checkin service                    51794 non-null  int64
 19  Cleanliness                        51794 non-null  int64
 20  Online boarding                    51794 non-null  int64
 21  Departure Delay in Minutes         51794 non-null  int64
 22  Arrival Delay in Minutes           51794 non-null  float64
 23  satisfaction                       51794 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 9.5+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(satisfaction_train['satisfaction'])
satisfaction_train['satisfaction']=encoder.transform(satisfaction_train['satisfaction'])

encoder.fit(satisfaction_test['satisfaction'])
satisfaction_test['satisfaction']=encoder.transform(satisfaction_test['satisfaction'])

In [ ]:
satisfaction_test.head()

   Unnamed: 0  Gender  ... Arrival Delay in Minutes  satisfaction
0       25158    Male  ...                     81.0             0
1      116365    Male  ...                     60.0             1
2       55540    Male  ...                      0.0             0
3       58339  Female  ...                     20.0             0
4      109669  Female  ...                     13.0             1

[5 rows x 24 columns]

In [ ]:
X_train = satisfaction_train[['Age', 'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient', 'Food and drink', 'Gate location', 'Inflight wifi service','Inflight entertainment', 'Online support', 'Ease of Online booking', 'On-board service', 'Leg room service', 'Baggage handling',
                                      'Checkin service', 'Cleanliness', 'Online boarding', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']]
y_train = satisfaction_train['satisfaction']

X_test = satisfaction_test[['Age', 'Flight Distance', 'Seat comfort', 'Departure/Arrival time convenient', 'Food and drink', 'Gate location', 'Inflight wifi service', 'Inflight entertainment', 'Online support', 'Ease of Online booking', 'On-board service', 'Leg room service', 'Baggage handling',
                                      'Checkin service', 'Cleanliness', 'Online boarding', 'Departure Delay in Minutes', 'Arrival Delay in Minutes']]
y_test = satisfaction_test['satisfaction']

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

log = LogisticRegression(random_state=20, max_iter=1000) #로지스틱 회귀분석 시행

model=log.fit(X_train, y_train) #모델의 정확도 확인
model_pred=model.predict(X_train)
print(accuracy_score(y_train, model_pred))

0.8054987064138703

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
from sklearn.metrics import classification_report
y_pred=model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.18      0.21      0.19      5878
           1       0.21      0.17      0.19      7071

    accuracy                           0.19     12949
   macro avg       0.19      0.19      0.19     12949
weighted avg       0.20      0.19      0.19     12949

**02-2. 1)에서 만든 모델의 test misclassification rate를 구하세요 -> 이거 왜이렇게 잘못 학습되는지 잘 모르겠습니다... 이거 구하는 방법이 잘못된 걸까요..?**

In [ ]:
print(1-accuracy_score(y_test, y_pred))

0.8078616109352074