<a href="https://colab.research.google.com/github/parkjiye/TNT_2021_winter_team_3/blob/main/week2/TNT_2021_Winter_2%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **01. MPG data**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [141]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/2021_TNT Winter/1주차')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**01-1. 주어진 데이터를 이용하여 최적의 Concrete Compressive strength를 예측하는 모델을 만들 것입니다. Concrete compressive strength(MPa)를 예측하는 최적의 모델을 만드세요.**

In [142]:
mpg_data=pd.read_csv('mpg.csv')

In [143]:
mpg_data.shape

(398, 9)

In [145]:
mpg_data.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [146]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [147]:
mpg_data

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [148]:
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix = column)], axis=1)
        data = data.drop(column, axis=1)
    return data


dummy_columns = ["origin"]
mpg_encoded = dummy_data(mpg_data, dummy_columns)

print(mpg_encoded.shape)

(398, 11)

In [149]:
mpg_encoded

      mpg  cylinders  displacement  ...  origin_europe  origin_japan  origin_usa
0    18.0          8         307.0  ...              0             0           1
1    15.0          8         350.0  ...              0             0           1
2    18.0          8         318.0  ...              0             0           1
3    16.0          8         304.0  ...              0             0           1
4    17.0          8         302.0  ...              0             0           1
..    ...        ...           ...  ...            ...           ...         ...
393  27.0          4         140.0  ...              0             0           1
394  44.0          4          97.0  ...              1             0           0
395  32.0          4         135.0  ...              0             0           1
396  28.0          4         120.0  ...              0             0           1
397  31.0          4         119.0  ...              0             0           1

[398 rows x 11 columns]

In [150]:
mpg_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mpg            398 non-null    float64
 1   cylinders      398 non-null    int64
 2   displacement   398 non-null    float64
 3   horsepower     392 non-null    float64
 4   weight         398 non-null    int64
 5   acceleration   398 non-null    float64
 6   model_year     398 non-null    int64
 7   name           398 non-null    object
 8   origin_europe  398 non-null    uint8
 9   origin_japan   398 non-null    uint8
 10  origin_usa     398 non-null    uint8
dtypes: float64(4), int64(3), object(1), uint8(3)
memory usage: 26.2+ KB

In [159]:
mpg_encoded.dropna(inplace = True)

In [160]:
features = mpg_encoded[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model_year', 'origin_europe', 'origin_japan', 'origin_usa']]
mpg = mpg_encoded['mpg']

In [161]:
from sklearn import linear_model

In [169]:
a_ar2s=[]
fitmodels=[]

선형회귀

In [170]:
linear = linear_model.LinearRegression()
fit_linear=linear.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels.append(fit_linear)

릿지회귀

In [171]:
ridge = linear_model.Ridge(alpha = 1.0)
fit_linear=ridge.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels.append(fit_linear)

라쏘회귀

In [172]:
lasso = linear_model.Lasso(alpha = 0.01, max_iter = 1000)
fit_linear=lasso.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
    
a_ar2s.append(ar2)
fitmodels.append(fit_linear)

엘라스틱넷

In [173]:
enet = linear_model.ElasticNet(alpha = 0.01, l1_ratio = 0.1)
fit_linear=enet.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg)] - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels.append(fit_linear)

In [174]:
 results = pd.DataFrame(data = a_ar2s, columns = ['Adjusted R-Square'], index = ['Linear', 'Ridge', 'Lasso', 'ElasticNet'])

In [44]:
results

            Adjusted R-Square
Linear               0.820058
Ridge                0.820054
Lasso                0.820030
ElasticNet           0.820057

간단한 전처리를 진행한 데이터로 선형회귀, 릿지, 라쏘, 엘라스틱넷을 이용해서 Adjusted R-Square를 구해본 결과 거의 다 비슷한데 선형회귀와 엘라스틱넷의 모델이 제일 좋은 것을 확인할 수 있다.

**01-2. 1번에서 만든 모델을 이용하여 mpg와 각각의 변수 간의 관계를 설명하세요.**

In [176]:
print(fitmodels[0].coef_)

[-0.48970942  0.02397864 -0.01818346 -0.00671038  0.07910304  0.77702694
  0.80225883  1.0254847  -1.82774353]

각 feature들의 계수(coefficients)를 확인해 보면 어떤 feature가 mpg에 큰 영향을 주는 지 확인해 볼 수 있다. 위에 있는 feature들의 순서대로 확인해주면 되는데 cylinders, horsepower, weight는 mpg, origin japan과 반비례 관계이고 나머지 feature들은 정비례 관계임을 알 수 있다. 가장 큰 영향을 주는 feature는 origin_japan으로 origin이 japan인 경우 mpg 값이 가장 큰 영향을 받는 것을 확인할 수 있다.

** (번외) 다중공산성 확인 위한 VIF/p-value 체크**

In [177]:
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [178]:
mpg_encoded.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'name', 'origin_europe', 'origin_japan',
       'origin_usa'],
      dtype='object')

In [179]:
lm = sm.OLS(mpg, features)
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     224.5
Date:                Sat, 09 Jan 2021   Prob (F-statistic):          1.79e-139
Time:                        14:48:46   Log-Likelihood:                -1020.5
No. Observations:                 392   AIC:                             2059.
Df Residuals:                     383   BIC:                             2095.
Df Model:                           8
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
cylinders        -0.4897      0.321     -1.524      0.128      -1.121       0.142
displacement      0.0240      0.008      3.133      0.002       0.009       0.039
horsepower       -0.0182      0.014     -1.326      0.185      -0.045       0.009
weight           -0.0067      0.001    -10.243      0.000      -0.008      -0.005
acceleration      0.0791      0.098      0.805      0.421      -0.114       0.272
model_year        0.7770      0.052     15.005      0.000       0.675       0.879
origin_europe   -15.3246      4.602     -3.330      0.001     -24.374      -6.276
origin_japan    -15.1014      4.681     -3.226      0.001     -24.305      -5.898
origin_usa      -17.9546      4.677     -3.839      0.000     -27.150      -8.759
==============================================================================
Omnibus:                       23.395   Durbin-Watson:                   1.291
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.452
Skew:                           0.444   Prob(JB):                     3.30e-08
Kurtosis:                       4.150   Cond. No.                     1.50e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.5e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [180]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(features.values, i) for i in range(features.shape[1])]
vif["features"] = features.columns
vif

   VIF Factor       features
0   10.737771      cylinders
1   22.937950   displacement
2    9.957265     horsepower
3   11.074349         weight
4    2.625906   acceleration
5    1.301373     model_year
6  131.742634  origin_europe
7  158.310491   origin_japan
8  490.166631     origin_usa

VIF 크기가 가장 큰 origin_usa값을 제외한 나머지 값들로 다시 한번 회귀 모델을 적용시켜보았다.
이전에 제가 VIF가 큰 값들 3개를 제거하고 모델을 만들어보니까 Adjusted R-Square 값이 너무 떨어져서 과제 제출할 때는 하나만 제거해서 제출하겠습니다.

In [181]:
features = mpg_encoded[['cylinders', 'displacement', 'horsepower', 'weight','acceleration', 'model_year','origin_europe','origin_japan']]
mpg = mpg_encoded['mpg']

In [189]:
a_ar2s=[]
fitmodels2=[]

In [190]:
linear = linear_model.LinearRegression()
fit_linear=linear.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels2.append(fit_linear)

In [191]:
ridge = linear_model.Ridge(alpha = 1.0)
fit_linear=ridge.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels2.append(fit_linear)

In [192]:
lasso = linear_model.Lasso(alpha = 0.01, max_iter = 1000)
fit_linear=lasso.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels2.append(fit_linear)

In [193]:
enet = linear_model.ElasticNet(alpha = 0.01, l1_ratio = 0.1)
fit_linear=enet.fit(features, mpg)
r2 = fit_linear.score(features, mpg)
ar2 = 1 - ((1 - r2)*(len(mpg) - 1)/(len(mpg) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels2.append(fit_linear)

In [194]:
 results2 = pd.DataFrame(data = a_ar2s, columns = ['Adjusted R-Square'], index = ['Linear', 'Ridge', 'Lasso', 'ElasticNet'])

In [195]:
results2

            Adjusted R-Square
Linear               0.820527
Ridge                0.820502
Lasso                0.820460
ElasticNet           0.820242

In [196]:
print(fitmodels2[0].coef_)

[-0.48970942  0.02397864 -0.01818346 -0.00671038  0.07910304  0.77702694
  2.63000236  2.85322823]

# **02. Concrete**

**02-1. 주어진 데이터를 이용하여 최적의 Concrete Compressive strength를 예측하는 모델을 만들 것입니다. Concrete compressive strength(MPa)를 예측하는 최적의 모델을 만드세요.**

In [197]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/2021_TNT Winter/2주차')

In [198]:
concrete_train=pd.read_csv('concrete_train.csv')
concrete_test=pd.read_csv('concrete_test.csv')

In [199]:
concrete_train

     Unnamed: 0  cement   slag  ...  fineaggregate  age  csMPa
0             0   277.0    0.0  ...          856.0   28  25.97
1             1   359.0   19.0  ...          801.0    3  25.12
2             2   272.8  181.9  ...          714.3   28  31.38
3             3   366.0  187.0  ...          757.0   28  65.91
4             4   212.6    0.0  ...          903.8    3  13.33
..          ...     ...    ...  ...            ...  ...    ...
819         819   284.0  119.7  ...          794.2   28  40.93
820         820   280.0  129.0  ...          805.0   28  52.82
821         821   141.3  212.0  ...          748.5   90  39.66
822         822   135.0    0.0  ...          805.0   28  13.29
823         823   213.8   98.1  ...          785.5   14  17.84

[824 rows x 10 columns]

In [200]:
concrete_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        824 non-null    int64
 1   cement            824 non-null    float64
 2   slag              824 non-null    float64
 3   flyash            824 non-null    float64
 4   water             824 non-null    float64
 5   superplasticizer  824 non-null    float64
 6   coarseaggregate   824 non-null    float64
 7   fineaggregate     824 non-null    float64
 8   age               824 non-null    int64
 9   csMPa             824 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 64.5 KB

In [201]:
features = concrete_train[['cement', 'slag', 'flyash', 'water', 'superplasticizer', 'coarseaggregate', 'fineaggregate', 'age']]
csMPa = concrete_train['csMPa']

In [202]:
a_ar2s=[]
fitmodels3=[]

In [203]:
linear = linear_model.LinearRegression()
fit_linear=linear.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels3.append(fit_linear)

In [204]:
ridge = linear_model.Ridge(alpha = 1.0)
fit_linear=ridge.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels3.append(fit_linear)

In [205]:
lasso = linear_model.Lasso(alpha = 0.01, max_iter = 1000)
fit_linear=lasso.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels3.append(fit_linear)

In [206]:
enet = linear_model.ElasticNet(alpha = 0.01, l1_ratio = 0.1)
fit_linear=enet.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels3.append(fit_linear)

In [208]:
 results3 = pd.DataFrame(data = a_ar2s, columns = ['Adjusted R-Square'], index = ['Linear', 'Ridge', 'Lasso', 'ElasticNet'])

In [209]:
results3

            Adjusted R-Square
Linear               0.630166
Ridge                0.630166
Lasso                0.630166
ElasticNet           0.630166

간단한 전처리를 진행한 데이터로 선형회귀, 릿지, 라쏘, 엘라스틱넷을 이용해서 Adjusted R-Square를 구해본 결과는 다 같지만 결과가 그렇게 좋지 않아보인다. VIF를 확인해보야할 것 같다.

**02-2. 1)에서 만든 모델을 이용하여 Mpa와 각각 변수간의 관계를 설명하세요.**

In [210]:
print(fitmodels3[0].coef_)

[ 0.12424381  0.10766686  0.091274   -0.13804472  0.36192166  0.01718424
  0.01984496  0.12008255]

water feature만 cmMPa와 반비례 관계를 가지고 나머지 feature들은 값이 증가할 수록 csMPa도 증가하는 관계를 갖고 있는 것을 확인 할 수 있다. csMPa에 가장 영향을 많이 주는 feature는 superplasticizer로 이 feature가 1 증가하면 csMPa는 0.36만큼 증가하는 것을 알 수 있다.

In [211]:
lm = sm.OLS(csMPa, features)
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  csMPa   R-squared (uncentered):                   0.933
Model:                            OLS   Adj. R-squared (uncentered):              0.932
Method:                 Least Squares   F-statistic:                              1411.
Date:                Sat, 09 Jan 2021   Prob (F-statistic):                        0.00
Time:                        15:04:38   Log-Likelihood:                         -3081.0
No. Observations:                 824   AIC:                                      6178.
Df Residuals:                     816   BIC:                                      6216.
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
cement               0.1168      0.005     25.347      0.000       0.108       0.126
slag                 0.0989      0.006     17.354      0.000       0.088       0.110
flyash               0.0815      0.009      9.301      0.000       0.064       0.099
water               -0.1744      0.017     -9.984      0.000      -0.209      -0.140
superplasticizer     0.3326      0.099      3.359      0.001       0.138       0.527
coarseaggregate      0.0083      0.003      2.422      0.016       0.002       0.015
fineaggregate        0.0096      0.004      2.445      0.015       0.002       0.017
age                  0.1199      0.006     19.587      0.000       0.108       0.132
==============================================================================
Omnibus:                        9.423   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.009   Jarque-Bera (JB):                9.386
Skew:                          -0.252   Prob(JB):                      0.00916
Kurtosis:                       3.137   Cond. No.                         363.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [212]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(features.values, i) for i in range(features.shape[1])]
vif["features"] = features.columns
vif

   VIF Factor          features
0   14.902703            cement
1    3.173922              slag
2    4.294063            flyash
3   80.312043             water
4    5.381436  superplasticizer
5   88.239411   coarseaggregate
6   74.420410     fineaggregate
7    1.671114               age

가장 VIF가 큰 coarseaggregate를 제외하고 모델을 만들어 결과를 만들어 보았다.

In [213]:
features = concrete_train[['cement', 'slag', 'flyash', 'superplasticizer', 'coarseaggregate','fineaggregate','age']]
csMPa = concrete_train['csMPa']

In [214]:
a_ar2s=[]
fitmodels4=[]

In [215]:
linear = linear_model.LinearRegression()
fit_linear=linear.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels4.append(fit_linear)

In [216]:
ridge = linear_model.Ridge(alpha = 1.0)
fit_linear=ridge.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels4.append(fit_linear)

In [217]:
lasso = linear_model.Lasso(alpha = 0.01, max_iter = 1000)
fit_linear=lasso.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels4.append(fit_linear)

In [218]:
enet = linear_model.ElasticNet(alpha = 0.01, l1_ratio = 0.1)
fit_linear=enet.fit(features, csMPa)
r2 = fit_linear.score(features, csMPa)
ar2 = 1 - ((1 - r2)*(len(csMPa) - 1)/(len(csMPa) - features.shape[1] - 1))
        
a_ar2s.append(ar2)
fitmodels4.append(fit_linear)

In [219]:
 results4 = pd.DataFrame(data = a_ar2s, columns = ['Adjusted R-Square'], index = ['Linear', 'Ridge', 'Lasso', 'ElasticNet'])

In [220]:
results4

            Adjusted R-Square
Linear               0.625903
Ridge                0.625903
Lasso                0.625903
ElasticNet           0.625903

In [221]:
print(fitmodels4[0].coef_)

[0.14505279 0.13139637 0.11790499 0.5276255  0.0436521  0.04994938
 0.11874011]

**02-3. 1)에서 만든 모델의 test_mse를 구하세요.**

In [222]:
concrete_test

     Unnamed: 0  cement   slag  ...  fineaggregate  age  csMPa
0             0   297.2    0.0  ...          753.5    3  21.91
1             1   238.1    0.0  ...          847.0    3  19.93
2             2   140.0  133.0  ...          753.0   28  36.44
3             3   203.5  135.7  ...          759.3    7  11.96
4             4   162.0  207.0  ...          638.0   28  39.84
..          ...     ...    ...  ...            ...  ...    ...
201         201   212.5    0.0  ...          903.6  100  42.92
202         202   255.0    0.0  ...          945.0    3   8.20
203         203   359.0   19.0  ...          801.0    7  38.61
204         204   310.0    0.0  ...          850.0   90  34.68
205         205   332.5  142.5  ...          594.0  180  39.78

[206 rows x 10 columns]

In [223]:
t_features= concrete_test[['cement', 'slag', 'flyash', 'water', 'superplasticizer', 'coarseaggregate', 'fineaggregate', 'age']]
t_csMPa=concrete_test[['csMPa']]

In [224]:
from sklearn.metrics import mean_squared_error

In [226]:
test_prediction=fitmodels3[0].predict(t_features)
mse=mean_squared_error(t_csMPa, test_prediction)
print(mse)

124.86942797172925